<app-navbar></app-navbar>

<div class="conteudoNoticia">
  <div class="listaNoticias">
    <ng-container *ngFor="let noticia of listaNoticias">
      <div class="noticia">
        <div class="cabecalhoNoticia">
          <p>{{ noticia.titulo }}</p>
        </div>
        <div class="corpoNoticia">
          <p>{{ noticia.informacao }}</p>
        </div>
        <div class="rodapeNoticia">
          <p>{{ noticia.dataCadastro | date : "dd/MM/yyyy HH:mm" }}</p>
          <p>{{ noticia.usuario }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
